        <div class="container">
		
			
			<header>
			
				<h1>Developer <span>The Ultimate Coder</span></h1>
				
				
			
			
			<section class="main">
			
				<div class="mb-wrap mb-style-6">
					<blockquote >
						<p>Walking on water && developing software from a specification are easy if both are frozen!!</p>
					</blockquote>
					<div class="mb-attribution">
						<p class="mb-author">Ajit Menon</p>
						<cite><a ng-href="#/sportstore">Developer</a></cite>
					</div>
				</div>
				
			</section>
			
        </div>