<div class="content">
				<h1>Expanding Image Menu with jQuery</h1>
				<h3>feat. Automatic Redial <a href="http://www.flickr.com/people/robnas/" target="_blank">by Robert Bejil Photography</a></h3>
				<div id="ei_menu" class="ei_menu">
					<ul>
						<li>
							<a href="#" class="pos1">
								<span class="ei_preview"></span>
								<span class="ei_image"></span>
							</a>
							<div class="ei_descr">
								<h2>Gary</h2>
								<h3>Vocals</h3>
								<p>
								A wonderful serenity has taken possession of my
								entire soul, like these sweet mornings of
								spring which I enjoy with my whole heart.
								</p>
								<p>
								I am alone, and feel the charm of existence in
								this spot, which was created for the bliss of
								souls like mine.
								</p>
							</div>
						</li>
						<li>
							<a href="#" class="pos2">
								<span class="ei_preview"></span>
								<span class="ei_image"></span>
							</a>
							<div class="ei_descr">
								<h2>David</h2>
								<h3>Guitar</h3>
								<p>
								A wonderful serenity has taken possession of my
								entire soul, like these sweet mornings of
								spring which I enjoy with my whole heart.
								</p>
								<p>
								I am alone, and feel the charm of existence in
								this spot, which was created for the bliss of
								souls like mine.
								</p>
							</div>

						</li>
						<li>
							<a href="#" class="pos3">
								<span class="ei_preview"></span>
								<span class="ei_image"></span>
							</a>
							<div class="ei_descr">
								<h2>Andrew</h2>
								<h3>Bass</h3>
								<p>
								A wonderful serenity has taken possession of my
								entire soul, like these sweet mornings of
								spring which I enjoy with my whole heart.
								</p>
								<p>
								I am alone, and feel the charm of existence in
								this spot, which was created for the bliss of
								souls like mine.
								</p>
							</div>
						</li>
						<li>
							<a href="#" class="pos4">
								<span class="ei_preview"></span>
								<span class="ei_image"></span>
							</a>
							<div class="ei_descr">
								<h2>Sean</h2>
								<h3>Drums</h3>
								<p>
								A wonderful serenity has taken possession of my
								entire soul, like these sweet mornings of
								spring which I enjoy with my whole heart.
								</p>
								<p>
								I am alone, and feel the charm of existence in
								this spot, which was created for the bliss of
								souls like mine.
								</p>
							</div>
						</li>
						<li>
							<a href="#" class="pos5">
								<span class="ei_preview"></span>
								<span class="ei_image"></span>
							</a>
							<div class="ei_descr">
								<h2>Marc</h2>
								<h3>Guitar</h3>
								<p>
								A wonderful serenity has taken possession of my
								entire soul, like these sweet mornings of
								spring which I enjoy with my whole heart.
								</p>
								<p>
								I am alone, and feel the charm of existence in
								this spot, which was created for the bliss of
								souls like mine.
								</p>
							</div>
						</li>
						<li>
							<a href="#" class="pos6">
								<span class="ei_preview"></span>
								<span class="ei_image"></span>
							</a>
							<div class="ei_descr">
								<h2>Matt</h2>
								<h3>Guitar</h3>
								<p>
								A wonderful serenity has taken possession of my
								entire soul, like these sweet mornings of
								spring which I enjoy with my whole heart.
								</p>
								<p>
								I am alone, and feel the charm of existence in
								this spot, which was created for the bliss of
								souls like mine.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
