
			<div class="sp-container">
				<div class="sp-content">
					<div class="sp-row">
						<span><img src="../images/example1/1.png" /></span>
						<span><img src="../images/example1/2.png" /></span>
						<span><img src="../images/example1/3.png" /></span>
						<span><img src="../images/example1/4.png" /></span>
						<span><img src="../images/example1/5.png" /></span>
					</div>
					<div class="sp-row sp-side-row">
						<span><img src="../images/example1/11.png" /></span>
						<span><img src="../images/example1/12.png" /></span>
					</div>
					<div class="sp-row sp-content-row">
						<h1>Coming Soon</h1>
						<h2>Check out the latest designs</h2>
						<h1 class="sp-title"><em></em> Shoe World</h1>
					</div>
					<div class="sp-row sp-side-row">
						<span><img src="../images/example1/13.png" /></span>
						<span><img src="../images/example1/14.png" /></span>
					</div>
					<div class="sp-row">
						<span><img src="../images/example1/6.png" /></span>
						<span><img src="../images/example1/7.png" /></span>
						<span><img src="../images/example1/8.png" /></span>
						<span><img src="../images/example1/9.png" /></span>
						<span><img src="../images/example1/10.png" /></span>
					</div>
					<div class="sp-arrow"></div>
				</div>
				<div class="sp-side">
					<h3 color='black'>Know More:</h3>
					<div class="sp-input">
						<input type="text" value="Your email"/>
						<a href="index.html">Go</a>
					</div>
				</div>
			</div>
        
