<style>
#trackerTable { width: auto; }
#trackerTable td { max-width: 500px; text-overflow: ellipsis;
overflow: hidden; white-space: nowrap; }
#trackerTable td input { max-width: 135px; }
</style>
<div class="navbar navbar-inverse">
<a class="navbar-brand" href="#"><h1 align='center'><marquee>Resource Tracker</marquee></h1></a>
</div>
<div ng-controller="trackerCtrl">
<table id="trackerTable" class="table table-striped table-bordered">
<tr>
<th><strong>Name</strong></th><th><strong>Track</strong></th><th><strong>Project</strong></th><th><strong>Status</strong></th><th><strong>QA Rel Date</strong></th><th><strong>Prod Rel Date</strong></th><th><strong>Branch</strong></th><th><strong>Action</strong></th>
</tr>
<tr ng-repeat="emp in resources" ng-hide="emp.id == editedResource.id">
<td><h5 style="color:#003366">{{emp.name}}</h5></td>
<td class="description"><h5 style="color:#003366"> {{emp.track}}</h5></td>
<td><h5 style="color:#003366">{{emp.project}} </h5></td>
<td><h5 style="color:#003366">{{emp.status}} </h5></td>
<td><h5 style="color:#003366">{{emp.qareldt}} </h5></td>
<td><h5 style="color:#003366">{{emp.prodreldt}} </h5></td>
<td><h5 style="color:#003366">{{emp.branch}} </h5></td>
<td>
<button ng-click="startEditTrack(emp)" class="btn btn-xs btn-primary">
Edit
</button>
<button ng-click="deleteResource(emp)" class="btn btn-xs btn-primary">
Delete
</button>
</td>
</tr>
<tr ng-class="{danger: editedResource}">
<td><input ng-model="editedResource.name" required /></td>
<td><input ng-model="editedResource.track" required /></td>
<td><input ng-model="editedResource.project" required /></td>
<td><input ng-model="editedResource.status" required /></td>
<td><input ng-model="editedResource.qareldt" required /></td>
<td><input ng-model="editedResource.prodreldt" required /></td>
<td><input ng-model="editedResource.branch" required /></td>


<td>
<button ng-hide="editedResource.id"
ng-click="createResource(editedResource)"
class="btn btn-xs btn-primary">
Create
</button>
<button ng-show="editedResource.id"
ng-click="updateResource(editedResource)"
class="btn btn-xs btn-primary">
Save
</button>
<button ng-show="editedResource"
ng-click="cancelEditTrack()" class="btn btn-xs btn-primary">
Cancel
</button>
</td>
</tr>
</table>
</div>